{% extends 'partials/body.html' %}

{% block contenido %}

<div class="container h-100 w-75 mt-3">
    <div class="row">
        <div class="col">

            <h1>Detalle de Compra</h1>
            <hr>
            <p>Compra N°: {{ compra.id }}</p>
            <p>Fecha de Creación: {{ compra.fecha_creacion }}</p>
            <p>Estado: {% if compra.estado == '1' %} Entregada {% else %} No entregada {% endif %}</p>
            <p>Valor Total. Iva incluido: $ {{ compra.total }}</p>

            <h2>Detalles:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                        <tr>
                            <td>{{ detalle.producto.nombre }}</td>
                            <td>{{ detalle.cantidad }}</td>
                            <td>$ {{ detalle.producto.precio_con_descuento }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <br>
            <h1>Envío</h1>
            <hr>
            <p>Nombre de usuario: {{ compra.usuario.get_nombre_completo }}</p>
            <p>Tipo documento: {{ compra.usuario.tipo_documento }}</p>
            <p>Documento: {{ compra.usuario.documento }}</p>
            <p>Teléfono fijo: {{ compra.usuario.numero_telefono }}</p>
            <p>Teléfono celular: {{ compra.usuario.numero_celular }}</p>
            <p>Entregar en: {{ compra.usuario.direccion_completa }}</p>
            
        </div>
    </div>
</div>  
{% endblock contenido %}
