{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cetta - {{titulo}}</title>
    {% bootstrap_css %}
</head>
<body class="bg-success bg-opacity-10 bg-gradient">

  {% block contenido %}

<div class="container">
    <div class="row">
        <div class="col">

            <h2>Ingreso</h2>
          
            <!-- Formulario -->
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control">
              </div>
          
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
              </div>
          
              <button type="submit" class="btn btn-primary mt-2">Ingresar</button>
          
            </form>
          
          </div>
    </div>
    
</div>

{% endblock contenido%}    
</body>
</html>

