{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<!-- Creditos:
  https://www.pexels.com/es-es/buscar/calzado%20de%20mujer/
  https://pixabay.com/es/images/search/calzado%20de%20mujer/
  https://www.freepik.es/search?format=search&last_filter=query&last_value=calzado+de+mujer&query=calzado+de+mujer&type=photo
  -->

{% comment %} Desplegar los productos en la sección. {% endcomment %}
<section class="Calzado">
    <div class="container">
      <!-- Carrito -->
      {% if user.is_authenticated %}
      {% include 'carrito.html' %}
        <!-- Contenido para usuarios autenticados -->
      {% else %}
        <p></p>
        <!-- Contenido para usuarios no autenticados -->
      {% endif %}
      <div class="row bg-dark rounded">

      {% for producto in productos_calzado%}
      <div class="col-md-4">
        <div class="card h-auto mb-1" style="background:transparent;">
          <img src="{{ producto.imagen.url }}" class="object-fit-md" class="card-img-top" style="height:25rem" alt="Imágenes de Moda">
          <div class="card-body">
            <h5 class="card-title text-white-50">{{producto.nombre}}</h5>
            <p class="card-text text-white-50">{{producto.descripcion}}</p>
            {% if producto.descuento > 0%}
              <p class="fs-4 text-danger display-2">Antes $<del>{{producto.precio}}</del></p>
              <p class="fs-3 text-white-50">Ahora $ {{producto.precio_con_descuento}}</p>
            {% else %}
              <p class="fs-3 text-white-50">$ {{producto.precio}}</p>
            {% endif %}
            <div class="row align-items-center">
                <a href="#" class="btn btn-outline-success bg-gradient">Agregar al carrito</a>
              </div>
            </div>
        </div>
      </div>
      {% endfor %} 
 
      </div>
    </div>
  </section>

{% endblock contenido %}