{% load static %}
{% load bootstrap_icons %}

<div class="btn-group" id="carrito">
    <button class="btn btn-secondary bg-opacity-75 btn-md" type="button">{% bs_icon 'cart-fill' %}
      Carrito
    </button>
    <button type="button" class="btn btn-sm btn-dark bg-opacity-75 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-md">
          {% if request.session.carrito.items %}
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Articulo</th>
              <th>Valor</th>
              <th>Talla</th>
              <th>Sum/ Res / X</th>
            </tr>
          </thead>  
          {% else %}
            <thead>
              <p></p> 
            </thead>
          {% endif %}
          <tbody>
            {% if request.session.carrito.items %}
              {% for key, value in request.session.carrito.items %}
              <tr>
                <td>{{value.cantidad}}</td>
                <td>{{value.nombre}}</td>
                <td>$ {{value.precio}}</td>
                {% if value.categoria == 'CALZADO' %}
                  <td>
                    <select class="form-select form-select-sm" aria-label="Small select example">
                      <option selected>Selecciona la talla</option>
                      <option value="1">36</option>
                      <option value="2">37</option>
                      <option value="3">38</option>
                      <option value="4">38.5</option>
                      <option value="5">39</option>
                      <option value="6">40</option>
                      <option value="7">40.5</option>
                      <option value="8">41</option>
                    </select>
                  </td>
                {% elif value.categoria == 'VESTIDOS' %}
                  <td>
                    <select class="form-select form-select-sm" aria-label="Small select example">
                      <option selected>Selecciona la talla</option>
                      <option value="1">S</option>
                      <option value="2">M</option>
                      <option value="3">L</option>
                      <option value="4">XL</option>
                    </select>
                  </td>
                {% else %}
                  <td>
                    <select class="form-select form-select-sm" aria-label="Small select example">
                      <option selected>Selecciona la talla</option>
                      <option value="1">32</option>
                      <option value="2">34</option>
                      <option value="3">36</option>
                      <option value="4">38</option>
                    </select>
                  </td>
                {% endif %}
                <td class="d-flex">
                  <a href="{% url 'agregar_al_carrito' value.producto_id %}" class="btn btn-outline-success btn-sm mx-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Agregar un producto mas">+</a>
                  <a href="{% url 'restar_del_carrito' value.producto_id %}" class="btn btn-outline-danger btn-sm mx-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Restar un producto">-</a>
                  <a href="{% url 'eliminar_del_carrito' value.producto_id %}" class="btn btn-outline-dark btn-sm mx-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Quitar el producto">X</a>
                </td>
              </tr>
              {% endfor %}
            {% else %}
            <tr>
              <td colspan="5">
                  <div class="alert alert-danger text-center">
                    Tu carrito está vacío
                  </div>
              </td>
            </tr>
            {% endif %}
            </tbody>
            {% if request.session.carrito.items %}
              <tfoot>
                <td colspan="3"><h6>Subotal: <b>$ 62.000</b><h6></td>
                <td><button type="button" class="btn btn-light btn-sm">Comprar</button></td>
                <td><a href="{% url 'vaciar_carrito' %}" class="btn btn-light btn-sm">Vaciar carrito</a></td>
              </tfoot>
            {% else %}
            <p></p>
            {% endif %}
          </table>
        </div>
      <li>
    </ul>
  </div>