{% extends 'partials/body.html' %}

{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'ayuda' %}"></a>Ayuda</li>
          <li class="breadcrumb-item"><a href="{% url 'preguntas' %}"></a>Preguntas frecuentes</li>
          <li class="breadcrumb-item active" aria-current="page">Atención y contacto</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

{% comment %} $breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E"); {% endcomment %}

{% endblock contenido %}