{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<!-- Creditos:
  https://www.pexels.com/es-es/buscar/moda/ 
  https://pixabay.com/es/images/search/moda%20mujer/
  https://www.freepik.es/search?format=search&last_filter=query&last_value=moda+de+mujer&query=moda+de+mujer&type=photo
  -->

{% comment %} Desplegar los productos en la sección. {% endcomment %}
<section class="servicios">
    <div class="container">
      <!-- Carrito -->
      {% if user.is_authenticated %}
      {% include 'carrito.html' %}
        <!-- Contenido para usuarios autenticados -->
      {% else %}
        <p></p>
        <!-- Contenido para usuarios no autenticados -->
      {% endif %}
      <div class="row bg-dark rounded">

      {% for producto in productos_descuento%}
      <div class="col-md-4">
        <div class="card h-auto mb-1" style="background:transparent">
          <img src="{{ producto.imagen.url }}" class="object-fit-md" class="card-img-top" style="height:25rem" alt="Imágenes de Moda">
          <div class="card-body">
            <h5 class="card-title text-white-50">{{producto.nombre}}</h5>
            <p class="card-text text-white-50">{{producto.descripcion}}</p>
            <p class="fs-4 text-danger display-2">Antes $<del>{{producto.precio}}</del></p>
            <p class="fs-3 text-white-50">Ahora $ {{producto.precio_con_descuento}}</p>
            <div class="row align-items-center">
              <a href="#" class="btn btn-outline-success bg-gradient">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} 
        
      </div>
    </div>
  </section>

{% endblock contenido %}