{% extends 'partials/body.html' %}

{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'ayuda' %}"></a>Ayuda</li>
          <li class="breadcrumb-item"><a href="{% url 'atencion' %}"></a>Líneas de atención y contacto</li>
          <li class="breadcrumb-item active" aria-current="page">Preguntas</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

{% endblock contenido %}