{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cetta - {{titulo}}</title>
    {% bootstrap_css %} <!-- Carga css -->
    {% bootstrap_javascript %} <!-- Carga javascript -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Swiper/swiper-bundle.min.css' %}"/>{% endcomment %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <!- para las datatables ->
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'DataTables/DateTime/dataTables.dateTime.min.css' %}" rel="stylesheet">
    <link href="{% static 'DataTables/DateTime/jquery.dataTables.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'DataTables/Responsive-2.5.0/css/jquery.dataTables.min.css' %}" rel="stylesheet">

    <!- para las alertas ->
    {% comment %} <link href="{% static 'Toastr/css/toastr.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/mis_estilos.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Carga Jqery para trabajar con los modales -->
</head>
<body class="bg-success bg-opacity-10 bg-gradient">
    {% include 'partials/header.html' %}
    
    {% block contenido %}
        
    {% endblock contenido %}
    {% include 'partials/footer.html' %}
    
    <!- para las datatables ->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'DataTables/DateTime/jquery-3.7.0.js' %}"></script>

    <script src="{% static 'DataTables/datatables.min.js' %}"></script>

    <script src="{% static 'DataTables/DateTime/dataTables.dateTime.min.js' %}"></script>
    <script src="{% static 'DataTables/DateTime/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'DataTables/DateTime/moment.min.js' %}"></script>
    <script src="{% static 'DataTables/datatables-config.js' %}"></script>
</body>
</html>