{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cetta - {{titulo}}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Swiper/swiper-bundle.min.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/icon_3.png' %}"> 
    <!- para las alertas ->
    {% comment %} <link href="{% static 'Toastr/css/toastr.min.css' %}" rel="stylesheet"> {% endcomment %}
</head>
<body class="bg-success bg-opacity-10 bg-gradient">
    {% include 'partials/header.html' %}
    
    {% block contenido %}
        
    {% endblock contenido %}
    {% include 'partials/footer.html' %}
        
</body>
</html>