{% load static %}
{% load bootstrap_icons %}
<footer class="bg-dark bg-gradient py-2 mt-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="{% url 'productos' %}" data-bs-toggle="tooltip" data-bs-placement="right" title="Ir a Sección De Productos"><img src="{% static 'img/logo-d1.png' %}" alt=" Logo de la empresa" class="w-100" class="h-100"></a>
          <p class="text-center text-white-50">Derechos Reservados &copy; 2023</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-center text-success text-opacity-75">Contacto</h5>
          <p class="text-center text-white-50">Teléfono: 317 5583561</p>
          <p class="text-center text-white-50">Correo electrónico: info@Cetta.com</p>
          <p class="text-center text-white-50">Dirección: Copacabana Antioquia</p>
          
        </div>
        <div class="col-md-4">
          <h5 class="text-center text-success text-opacity-75">Redes Sociales</h5>
          <ul class="list-unstyled">
            <li class="text-center"><a href="https://www.facebook.com/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Red Social Facebook">{% bs_icon 'facebook' %}</a></li>
            <li class="text-center"><a href="https://www.twitter.com/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Red Social Twitter">{% bs_icon 'twitter' %}</a></li>
            <li class="text-center"><a href="https://www.instagram.com/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Red Social Instagram">{% bs_icon 'instagram' %}</a></li>
            <li class="text-center"><a href="https://www.linkedin.com/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Red Social Linkedin">{% bs_icon 'linkedin' %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>