{% load static %}
{% load bootstrap_icons %}

<header class="bg-dark bg-gradient">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
            <div class="container">
              <a class="navbar-brand" href= "{% url 'index' %}">
                <p class="fs-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Inicio">{% bs_icon 'house-door' %}Cetta</p>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                  {% if user.is_authenticated %}
                  <p></p>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="{% url 'registro' %}">Registrarse</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="{% url 'login' %}">Ingresar</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href= "{% url 'productos' %}">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'descuentos' %}">{% bs_icon 'bag-check' %}Descuentos</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% bs_icon 'list-task' %}
                      Categorías
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'calzado' %}">{% bs_icon 'person-walking' %}Calzado</a></li>
                      <li><a class="dropdown-item" href="{% url 'vestidos' %}">{% bs_icon 'person-standing-dress' %}Vestidos</a></li>
                      <li><a class="dropdown-item" href="{% url 'jeans' %}">{% bs_icon 'person-standing' %}Jeans</a></li>
                    </ul>
                  </li>
                  <!--Menú de usuario-->
                  {% if user.is_authenticated %}
                  <div class="btn-group">
                    <button class="btn btn-secondary bg-gradient btn-sm" type="button">{% bs_icon 'person-circle' %}
                      {{user.first_name}}
                    </button>
                    <button type="button" class="btn btn-sm btn-dark bg-gradient dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">{% bs_icon 'bag-fill' %}Mis Compras</a></li>
                      <li id="abrirActualizar"><a class="dropdown-item">{% bs_icon 'arrow-clockwise' %}Ver mis Datos</a></li>
                          <li><hr class="dropdown-divider"></li> 
                      <li><a class="dropdown-item" href="{% url 'logout' %}">{% bs_icon 'box-arrow-left' %}Cerrar Sesión</a></li>
                    </ul>
                  
                  </div>
                      <!-- Contenido para usuarios autenticados -->
                  {% else %}
                      <p></p>
                      <!-- Contenido para usuarios no autenticados -->
                  {% endif %}   
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
    </div>
  {% include 'usuario/modal.html' %}
</header>