{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cetta - {{titulo}}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
</head>
<body class="bg-success bg-opacity-10 bg-gradient">

{% block contenido %}

{% if validlink %}

<h1>Nueva contraseña</h1>

<form method="post">
{% csrf_token %}

{{ form.new_password1.errors }}
<label for="id_new_password1">Nueva contraseña:</label>
{{ form.new_password1 }}

{{ form.new_password2.errors }}
<label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
<input type="submit" value="Cambiar mi contraseña" />
</form>

{% else %}

<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}
  
{% endblock contenido %}

</body>